<div class="qv-object-supernav-extension">
    <div class="slide-menu left-menu ui small vertical menu" id="{{layout.qInfo.qId}}" ng-style="menuStyle">
        <div style="height: 92%; overflow-y: scroll;">
            <div class="header item" ng-if="sideNav.label.length">{{sideNav.label}}</div>
            <div ng-repeat="section in sections.left track by section.cId" id="{{section.cId}}" class="menu" style="width: 100%" ng-class="section.$class">
                <div class="header item" ng-if="section.showSectionHeader" ><span>{{section.label}}</div>
                <a ng-if="section.linkType=='text'" class="item" ng-repeat="item in section.$items track by item.cId" id="{{item.cId}}" ng-class="item.$class" ng-click="item.go()">{{item.label}}</a>

                <div class="item" ng-class="[section.sectionType]" ng-if="section.linkType=='buttonGroup' || section.sectionType=='qlikobject'">
                    <div class="ui mini buttons nav-button-group" ng-if="section.linkType=='buttonGroup'" ng-class="section.$buttonClass" ng-style="section.$style">
                        <div class="ui button mini" ng-repeat="item in section.$items track by item.cId" id="{{item.cId}}" ng-class="item.$class" ng-click="item.go()">{{item.label}}</div>
                    </div>
                    <div id="menu-{{section.$objectId}}" ng-if="section.sectionType=='qlikobject'" style="height: 100px"  class="qlik-object" ng-style="section.$style"></div>
                </div>
            
            </div>
        </div>
    </div>
</div>
